<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')  %>
    <title>Node Blog | <%= title %></title>
</head>
<body>
    <%- include('partials/nav') %>

    <div class="not-found content">
        <h2>404</h2>
        <p>OOPS, page not found</p>
    </div>

    <%- include('./partials/footer')  %>
</body>
</html>