<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')  %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem iste vitae blanditiis quisquam velit error incidunt quod voluptas quam eos illo neque delectus, veritatis aperiam laudantium earum quidem. Nisi, ullam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem iste vitae blanditiis quisquam velit error incidunt quod voluptas quam eos illo neque delectus, veritatis aperiam laudantium earum quidem. Nisi, ullam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem iste vitae blanditiis quisquam velit error incidunt quod voluptas quam eos illo neque delectus, veritatis aperiam laudantium earum quidem. Nisi, ullam.</p>
    </div>

    <%- include('./partials/footer')  %>

</body>
</html>